{% extends 'layout.html' %}

{% block content %}

<div class="row row-cols-1 row-cols-md-5 g-3 mt-1">
  {% for cover, values in books.items %}
  <div class="col">
    <div class="card h-60 bg-dark" style="color: beige; border-color: #212529;">
      <img src="{{ values.0 }}" class="card-img-top img-thumbnail bg-dark" style="border-color: #212529;">
      <div class="card-body">
        <h5 class="card-title">{{ cover }}</h5>
        <small class="text-muted">-{{ values.1.0 }}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}